.vscode/**
.vscode-test/**
scripts/**
.gitignore
*.txt
src
*.ps1
dist/*.s.js
dist/scripts/**
dist/*.js.map
*.md
*.bat
tsconfig.json
tsconfig.scripts.json
ps/*.s.ps
snippets
!README.md
!CHANGELOG.md
node_modules
package-lock.json
*.vsix