.*/
scripts/
.gitignore
*.txt
src/
docs/
snippets/
*.ps1
*.md
*.bat
tsconfig.json
tsconfig.scripts.json
**/*.map
ps.test/
pslib/
tests/
debug.log
node_modules
package-lock.json
*.vsix
snippets/
!.snippets/
!README.md
!CHANGELOG.md